<!-- ======= Services Section ======= -->
<section id="service" class="services-mf pt-5 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center pt-5">
                    <h3 class="title-a text-light">
                        Services
                    </h3>
                    <p class="subtitle-a text-light">
                        These are some services I can help you with
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4" *ngFor="let service of _service.services">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="{{service.Icon}}"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">{{service.Name}}</h2>
                        <p class="s-description text-center">
                            {{service.Description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->